<!-- Registro -->
<div class="row">
    <!-- Registro form -->
    <div class="col-md-6 p-2">
        <h2>Registro</h2>
        <form [formGroup]="registroForm" (ngSubmit)="registrousr()">
            <div class="form-group pt-2">
                <label for="nombre">Nombre completo:</label>
                <input type="text" class="form-control" required="" name="nombreregistro" formControlName="nombreregistro"
                    [class.is-invalid]="registroForm.get('nombreregistro')?.invalid && registroForm.get('nombreregistro')?.touched "
                    [class.is-valid]="registroForm.get('nombreregistro')?.valid && registroForm.get('nombreregistro')?.touched">
                <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('nombreregistro')?.invalid ">
                    Este campo es requerido y solo se aceptan letras mínimo de caracteres (3).
                </span>
            </div>
            <div class="form-group pt-2">
                <label for="tel">Teléfono:</label>
                <input type="tel" class="form-control" maxlength="10" required name="telefonoregistro"
                    formControlName="telefonoregistro"
                    [class.is-invalid]="registroForm.get('telefonoregistro')?.invalid && registroForm.get('telefonoregistro')?.touched "
                    [class.is-valid]="registroForm.get('telefonoregistro')?.valid && registroForm.get('telefonoregistro')?.touched">
                <small id="tel" class="form-text text-muted">Ingresa 10 dígitos.</small><br>
                <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('telefonoregistro')?.invalid ">
                    Este campo es requerido y permíte hasta 10 dígitos numéricos.
                </span>
            </div>
            <div class="form-group pt-2">
                <label for="email">Correo electrónico:</label>
                <input type="email" class="form-control" required name="emailregistro" formControlName="emailregistro"
                    [class.is-invalid]="registroForm.get('emailregistro')?.invalid && registroForm.get('emailregistro')?.touched "
                    [class.is-valid]="registroForm.get('emailregistro')?.valid && registroForm.get('emailregistro')?.touched">
                <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('emailregistro')?.invalid ">
                    Se requiere un email valido.
                </span>
            </div>
            <div class="form-group pt-2">
                <label for="exampleFormControlSelect1">Estado</label>
                <select required class="form-control" name="estadoregistro" formControlName="estadoregistro"
                    [class.is-invalid]="registroForm.get('estadoregistro')?.invalid && registroForm.get('estadoregistro')?.touched "
                    [class.is-valid]="registroForm.get('estadoregistro')?.valid && registroForm.get('estadoregistro')?.touched"
                    >
        
                    <option value="">Selecciona una opción</option>
                    <option value="Aguascalientes">Aguascalientes</option>
                    <option value="Baja California">Baja California</option>
                    <option value="Baja California Sur">Baja California Sur</option>
                    <option value="Campeche">Campeche</option>
                    <option value="Coahuila de Zaragoza">Coahuila de Zaragoza</option>
                    <option value="Colima">Colima</option>
                    <option value="Chiapas">Chiapas</option>
                    <option value="Chihuahua">Chihuahua</option>
                    <option value="Ciudad de México">Ciudad de México</option>
                    <option value="Durango">Durango</option>
                    <option value="Guanajuato">Guanajuato</option>
                    <option value="Guerrero">Guerrero</option>
                    <option value="Hidalgo">Hidalgo</option>
                    <option value="Jalisco">Jalisco</option>
                    <option value="México">México</option>
                    <option value="Michoacán de Ocampo">Michoacán de Ocampo</option>
                    <option value="Morelos">Morelos</option>
                    <option value="Nayarit">Nayarit</option>
                    <option value="Nuevo León">Nuevo León</option>
                    <option value="Oaxaca">Oaxaca</option>
                    <option value="Puebla">Puebla</option>
                    <option value="Querétaro">Querétaro</option>
                    <option value="Quintana Roo">Quintana Roo</option>
                    <option value="San Luis Potosí">San Luis Potosí</option>
                    <option value="Sinaloa">Sinaloa</option>
                    <option value="Sonora">Sonora</option>
                    <option value="Tabasco">Tabasco</option>
                    <option value="Tamaulipas">Tamaulipas</option>
                    <option value="Tlaxcala">Tlaxcala</option>
                    <option value="Veracruz">Veracruz</option>
                    <option value="Yucatán">Yucatán</option>
                    <option value="Zacatecas">Zacatecas</option>
                </select>
                <span class="text-danger" *ngIf="isSubmitReg && registroForm.get('estadoregistro')?.invalid ">
                    Este campo es requerido.
                </span>
            </div>

            <div class="pt-3">
                <button type="submit" class="btn btn-primary btnG">REGISTRARME</button>

            </div>

        </form>
    </div>
    <!-- /Termina Registro form -->

    <!-- Login form -->
    <div class="col-md-6 p-2">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="loginusr()">
            <div class="row mb-3">
                <label for="emaillogin" class="col-sm-2 col-form-label ">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="emaillogin" formControlName="emaillogin" required
                        [class.is-invalid]="loginForm.get('emaillogin')?.invalid && loginForm.get('emaillogin')?.touched"
                        [class.is-valid]="loginForm.get('emaillogin')?.valid && loginForm.get('emaillogin')?.touched">
                </div>
                <span class="text-danger" *ngIf="isSubmitLogin && loginForm.get('emaillogin')?.invalid">Este campo es
                    requerido</span>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" formControlName="inputPassword3"
                        required
                        [class.is-invalid]="loginForm.get('inputPassword3')?.invalid && loginForm.get('inputPassword3')?.touched"
                        [class.is-valid]="loginForm.get('inputPassword3')?.valid && loginForm.get('inputPassword3')?.touched">
                </div>
                <span class="text-danger" *ngIf="isSubmitLogin && loginForm.get('inputPassword3')?.invalid">Este campo
                    es requerido</span>
            </div>


            <button type="submit" class="btn btn-primary">INGRESAR</button>
        </form>


    </div>
    <!-- / termina Login form -->
</div>
<!-- / Termina registro -->